MLFLOW_PYTHON_BIN=".venv/bin/python"
MLFLOW_TRACKING_URI="http://localhost:5000"
MLFLOW_TRACKING_USERNAME=your_username
MLFLOW_TRACKING_PASSWORD=your_password
GOOGLE_APPLICATION_CREDENTIALS="credentials/google-service-account.json"
GOOGLE_PROJECT_ID="your_project_id"
